
.wrapperSearchPanel {
  padding-bottom: 12px;
}
.title {
  padding-bottom: 10px;
}
.inputSearch {
  width: calc(100% - 10px);
  display: flex;
}
.asideSearchPanel {
  width: 100%;
  padding-bottom: 12px;
}
.buttonSearch {
  display: flex;
  margin-left: auto;
}